# Variables de entorno para Vite (prefijo VITE_ obligatorio)
VITE_COGNITO_USER_POOL_ID=us-east-1_XXXXXXXXX
VITE_COGNITO_APP_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXX
VITE_AWS_REGION=us-east-1
VITE_COGNITO_CLIENTS=web:AAAAAAAAAAAAAAAAAAAAAAA,admin:BBBBBBBBBBBBBBBBBBBBB
