VITE_COGNITO_USER_POOL_ID=us-east-1_XXXXXXXXX
VITE_COGNITO_HOSTED_CLIENT_ID=xxxxxxxxxxxxxx
VITE_COGNITO_DOMAIN=poc-login-12345678.auth.us-east-1.amazoncognito.com
VITE_COGNITO_REDIRECT_SIGNIN=http://localhost:5175/
VITE_COGNITO_REDIRECT_SIGNOUT=http://localhost:5175/
VITE_COGNITO_SCOPES=openid email profile
VITE_COGNITO_IDENTITY_POOL_ID=us-east-1:xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
